.primary-btn{
    background-color: #136DFB;
    border-radius: 30px;
    padding: 12px 20px;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
        background-color: #0050CE;
        transition:background-color box-shadow .5s ease-in-out;
        box-shadow: none;
    }
   
    @media screen and (max-width:740px) {
        font-size: 14px;
        // padding: 8px 12px;
    }
    @media screen and (max-width:480px) {
        font-size: 12px;
        // padding:5px 10px;
    }
}

.box-shadow{
    box-shadow: 0 8px 30px 0 #136DFB;
}

.colorful-sm-p{
    font-size: 24px;
    font-weight: 600;
    background: linear-gradient(#FF623F, #BC1AE4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
    text-transform: uppercase;

    @media screen and (max-width:1440px) {
        font-size: 18px;
    }
    @media screen and (max-width:1094px) {
        font-size: 14px;
        margin-bottom: 10px;
    }
    @media screen and (max-width:480px) {
        font-size: 12px;
        margin-bottom: 5px;
    }
}
.large-text{
    font-size: 48px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
    line-height: 60px;
    @media screen and (max-width:1780px) {
        font-size: 42px;
        line-height: 40px;
    }
    @media screen and (max-width:1440px) {
        font-size: 38px;
        line-height: 40px;
    }
    @media screen and (max-width:1094px) {
        font-size: 24px;
        line-height: 30px;
    }
    @media screen and (max-width:480px) {
        font-size: 16px;
        line-height: 24px;
    }
}

.normal-text{
    font-size: 16px;
    font-weight: 500;
    color: #707070;
    @media screen and (max-width:1094px) {
        font-size: 14px;
    }
    @media screen and (max-width:480px) {
        font-size: 12px;
    }
}

.h3-text{
    font-size: 24px;
    font-weight: 600;
    color: #202323;
    @media screen and (max-width:1440px) {
        font-size: 18px;
    }
    @media screen and (max-width:1094px) {
        font-size: 16px;
        margin-bottom: 10px;
    }
}