* {
  margin: 0;
  padding: 0;
}
.outer-wrapper {
  width: 100%;
  font-family: "poppins", serif;
  overflow-x: hidden;
  .navbar-conatiner {
    padding: 15px 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid#DEDEDE;
    backdrop-filter: blur(30px);
    @media screen and (max-width: 1440px) {
      padding: 15px 50px;
    }
    @media screen and (max-width: 1094px) {
      padding: 10px 20px;
    }
    @media screen and (max-width: 480px) {
      padding: 5px 10px;
    }
    .logo-container {
      cursor: pointer;
      @media screen and (max-width: 480px) {
        width: 40%;
      }
      img {
        width: 100%;
      }
    }
    .navbar {
      margin: 0;
      @media screen and (max-width: 900px) {
        display: none;
      }
      ul {
        display: flex;
        align-items: center;
        gap: 30px;
        margin: 0;
        li {
          list-style-type: none;
          a {
            text-decoration: none;
            text-transform: uppercase;
            font-family: "Poppins", serif;
            font-size: 16px;
            font-weight: 400;
            color: #707070;

            &:hover {
              color: #136dfb;
            }
          }
          .active {
            color: #136dfb;
            font-weight: 600;
          }
        }
      }
    }
    .hamburger {
      display: none;
      @media screen and (max-width: 900px) {
        display: block;
        width: 30px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        margin: 20px;

        @media screen and (max-width: 480px) {
          margin: 0;
          height: 20px;
          width: 25px;
        }
        .bar {
          height: 4px;
          background-color: #333;
          border-radius: 5px;
          transition: all 0.3s ease;
        }

        .hamburger.open .bar:nth-child(1) {
          transform: translateY(10px) rotate(45deg);
        }

        .hamburger.open .bar:nth-child(2) {
          opacity: 0;
        }

        .hamburger.open .bar:nth-child(3) {
          transform: translateY(-10px) rotate(-45deg);
        }
      }
    }

    .menu {
      display: none;
      @media screen and (max-width: 900px) {
        list-style: none;
        margin: 0;
        padding: 20px;
        display: block;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 10px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 250px;
        height: 500px;
      }

      .menu {
        ul{
          li {
            padding: 10px 20px;
            list-style-type: none;
            a {
              color: #232323;
              text-decoration: none;
            }
          }
        }
        
      }
    }
  }

  .banner-container {
    position: relative;
    width: 100%;
    padding-top: 302px;
    padding-bottom: 300px;
    overflow: hidden;
    height: 100%;
    @media screen and (max-width: 1094px) {
      padding-top: 184px;
    }
    .left {
      position: absolute;
      width: 850px;
      height: 850px;
      background-image: radial-gradient(closest-side, #c0bedd, #ffffff);
      left: -322px;
      top: 55px;
      z-index: 0;
      @media screen and (max-width: 1132px) {
        width: 200px;
        height: 200px;
      }
    }

    .left-img {
      position: absolute;
      top: 222px;
      left: 0;
    }
    .banner {
      width: 70%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 2;
      @media screen and (max-width: 480px) {
        width: 90%;
        padding: 20px;
        align-items: start;
        padding-right: 50px;
      }
      .heading {
        text-align: center;
        font-size: 90px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Jost", serif;
        line-height: 108px;
        margin: 0;
        z-index: 1;
        background: linear-gradient(
          90deg,
          rgba(0, 150, 255, 0.8),
          rgba(138, 61, 197, 0.8),
          #e23479,
          #fc853a
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media screen and (max-width: 1440px) {
          font-size: 80px;
          line-height: 100px;
        }

        @media screen and (max-width: 1094px) {
          font-size: 70px;
          line-height: 90px;
        }
        @media screen and (max-width: 740px) {
          font-size: 60px;
          line-height: 70px;
        }
        @media screen and (max-width: 580px) {
          font-size: 50px;
          line-height: 60px;
        }
        @media screen and (max-width: 480px) {
          font-size: 40px;
          line-height: 50px;
          text-align: start;
        }
        .gif {
          position: relative;
          img {
            position: absolute;
            left: -36px;
            top: -20px;
            @media screen and (max-width: 1440px) {
              top: 0;
              width: 107px;
              left: -7px;
            }
            @media screen and (max-width: 1094px) {
              width: 100px;
              left: -20px;
            }
            @media screen and (max-width: 740px) {
              width: 80px;
            }
            @media screen and (max-width: 480px) {
              width: 60px;
              left: -10px;
            }
          }
        }
      }

      .para {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: #707070;
        margin-top: 30px;
        margin-bottom: 0;
        width: 60%;
        text-align: center;
        z-index: 1;
        @media screen and (max-width: 1440px) {
          font-size: 16px;
          line-height: 22px;
          width: 70%;
          margin-top: 25px;
        }
        @media screen and (max-width: 740px) {
          font-size: 14px;
          line-height: 20px;
          width: 90%;
          margin-top: 20px;
        }
        @media screen and (max-width: 480px) {
          font-size: 12px;
          line-height: 18px;
          text-align: start;
          width: 100%;
          margin-top: 15px;
        }
      }
      button {
        margin-top: 40px;
        z-index: 1;
        @media screen and (max-width: 1094px) {
          margin-top: 35px;
        }
        @media screen and (max-width: 480px) {
          margin-top: 30px;
          margin-bottom: 20px;
        }
      }
    }

    .right {
      position: absolute;
      width: 850px;
      height: 850px;
      background-image: radial-gradient(closest-side, #e5eaf9, #ffffff);
      z-index: 0;
      right: -222px;
      top: 55px;
      backdrop-filter: blur(10px);
    }
    .right-img {
      position: absolute;
      top: 202px;
      right: -277px;
    }

    .bottom {
      position: absolute;
      top: 80%;
      left: 33%;
      z-index: 0;
      overflow: hidden;
      @media screen and (max-width: 1810px) {
        top: 76%;
        left: 30%;
      }
      @media screen and (max-width: 1500px){
        top: 74%;
        left: 25%;
      }
      @media screen and (max-width: 1250px) {
        
      top: 78%;
        left: 17%;
      }

      @media screen and (max-width: 980px) {
        left: 10%;
      }

      @media screen and (max-width: 580px) {
        // left: 15%;
        // width: 90%;
        // top: 85%;
        display: none;
      }
    }
    .bottom-img {
      position: absolute;
      z-index: 0;
      width: 50px;
      height: 50px;
      left: 50%;
      top: 85%;
      @media screen and (max-width: 1810px) {
        top: 80%;
      }
      @media screen and (max-width: 1440px) {
        left: 50%;
      }
      @media screen and (max-width: 480px) {
        width: 36px;
        height: 36px;
        left: 50%;
      }
    }
    // .bottom, .bottom-img{
    //     display: none;
    // }
  }

  .what-we-do {
    background-color: #f9f9f9;
    border-radius: 30px;
    padding: 30px;
    width: 88%;
    margin: auto;
    z-index: 10;
    position: relative;
    margin-bottom: 120px;
    @media screen and (max-width: 1440px) {
      padding: 25px;
      margin-bottom: 100px;
    }
    @media screen and (max-width: 1094px) {
      padding: 20px;
      border-radius: 25px;
      margin-bottom: 80px;
    }
    @media screen and (max-width: 480px) {
      padding: 15px;
      border-radius: 20px;
      margin-bottom: 50px;
    }
    // .colorful-sm-p{

    // }
    .large-text {
      width: 60%;
      text-align: start;
      margin-bottom: 40px;
      @media screen and (max-width: 1600px) {
        width: 70%;
        margin-bottom: 35px;
      }
      @media screen and (max-width: 1440px) {
        width: 80%;
        margin-bottom: 30px;
      }
      @media screen and (max-width: 1094px) {
        width: 90%;
        margin-bottom: 25px;
      }
      @media screen and (max-width: 580px) {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .todo-cards {
      display: flex;
      align-items: center;
      gap: 28px;
      height: auto;
      flex-wrap: wrap;
      flex: 1;
      .card1 {
        background-color: #ffffff;
        border-radius: 15px;
        padding: 15px;
        width: 21%;
        @media screen and (max-width: 1440px) {
          width: 27%;
        }
        @media screen and (max-width: 1094px) {
          width: 40%;
        }
        @media screen and (max-width: 580px) {
          width: 95%;
          padding: 10px;
        }
        h4 {
          font-size: 20px;
          font-weight: 600;
          color: #202323;
          margin-bottom: 10px;

          @media screen and (max-width: 1440px) {
            font-size: 18px;
          }
          @media screen and (max-width: 1094px) {
            font-size: 16px;
            margin-bottom: 5px;
          }
          @media screen and (max-width: 480px) {
            font-size: 14px;
          }
        }
        p {
          font-size: 16px;
          font-weight: 500;
          color: #707070;
          @media screen and (max-width: 1094px) {
            font-size: 14px;
          }
          @media screen and (max-width: 480px) {
            font-size: 12px;
          }
        }
        img {
          margin-top: 20px;
          margin-bottom: 15px;
          width: 100%;
          @media screen and (max-width: 1094px) {
            margin: 15px 0;
          }
          @media screen and (max-width: 480px) {
            margin: 10px 0;
          }
        }
        .learn {
          overflow-x: hidden;
          display: flex;
          align-items: center;
          gap: 10px;
          svg {
            // width: 20px;
            // height: 20px;
            // margin: 0;
            transform: translateX(-100%);
          }
          a {
            font-size: 16px;
            font-weight: 500;
            color: #707070;
            margin: 0;
            text-decoration: none;
            left: -23px;
            position: relative;
          }
        }

        &:hover {
          h4 {
            background: linear-gradient(90deg, #ff623f, #bc1ae4);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          svg {
            transform: translateX(0);
            transition: transform 0.5s ease-in-out;
          }
          a {
            left: 0;
            transition: left 0.5s ease-in-out;
            color: #136dfb;
          }
        }
      }
    }
  }

  .seperator1 {
    width: 0;
    height: 0;
    border-bottom: 114px solid #f9f9f9;
    border-right: 100vw solid transparent;
  }
  .seperator2 {
    width: 0;
    height: 0;
    border-top: 114px solid #f9f9f9;
    border-left: 100vw solid transparent;
    margin-bottom: 120px;

    @media screen and (max-width: 1094px) {
      margin-bottom: 90px;
    }
    @media screen and (max-width: 480px) {
      margin-bottom: 50px;
    }
  }
  .our-strategy {
    background-color: #f9f9f9;
    padding: 130px;
    display: flex;
    gap: 104px;
    @media screen and (max-width: 1440px) {
      padding: 60px;
      gap: 60px;
    }
    @media screen and (max-width: 1094px) {
      flex-direction: column;
    }
    @media screen and (max-width: 580px) {
      padding: 30px;
      gap: 30px;
    }
    .text-container {
      width: 40%;
      @media screen and (max-width: 1094px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .colorful-sm-p {
        margin-bottom: 10px;
        @media screen and (max-width: 1094px) {
          text-align: center;
        }
      }
      .large-text {
        margin-bottom: 20px;
        @media screen and (max-width: 1094px) {
          text-align: center;
        }
      }
      .normal-text {
        margin-bottom: 40px;
        @media screen and (max-width: 1094px) {
          text-align: center;
        }
      }
      button {
        @media screen and (max-width: 1094px) {
          margin: auto;
        }
      }
    }
    .colorful-container {
      width: 48%;
      display: flex;
      flex-wrap: wrap;
      gap: 45px;
      justify-content: end;
      @media screen and (max-width: 1440px) {
        width: 55%;
      }
      @media screen and (max-width: 1094px) {
        width: 100%;
        justify-content: center;
      }
      @media screen and (max-width: 680px) {
        gap: 20px;
      }
      .cards {
        background-image: linear-gradient(
          to bottom right,
          #ffffff,
          rgba(192, 190, 221, 0.5)
        );
        // border: 1px solid beige;
        border-radius: 15px;
        padding: 15px;
        position: relative;
        width: 40%;
        overflow: hidden;
        @media screen and (max-width: 680px) {
          width: 90%;
        }
        .img-div {
          width: 40px;
          height: 40px;
          background-color: #202323;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          margin-bottom: 15px;
          svg {
            transform: scale(1, 1);
          }
        }
        .card-heading {
          font-size: 20px;
          font-weight: 600;
          color: #202323;
          margin-bottom: 10px;
        }
        .z-img {
          position: absolute;
          top: -20px;
          right: 150px;
          width: 500px;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 16px;
          border: 1px solid transparent;
          background: linear-gradient(
            109.92deg,
            #0096ff 12.78%,
            #bb64ff 37.63%,
            #f2416b 62.12%,
            #eb7500 87.3%
          );
          -webkit-mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
          -webkit-mask-composite: destination-out;
          mask-composite: exclude;
          pointer-events: none;
          z-index: 0;
        }

        .overley {
          width: 100%;
          height: 100%;
          position: absolute;
          transform: translateX(150%);
          right: 0;
          top: 0;
          background-color: white;
          box-shadow: 10px 10px 10px 20px white;
          border-radius: 15px;
        }

        &:hover {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          &::before {
            border: none;
            transition: all 0.4s ease;
          }
          .img-div {
            background: linear-gradient(to top right, #ff623f, #bc1ae4);
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              transform: scale(1.5, 1.5);
              transition: transform 0.5s ease-in;
            }
          }
          .overley {
            transform: translateX(-108%);
            transition: transform 0.5s ease-in-out;
          }
        }
      }

      .first-card {
        top: -81px;
        @media screen and (max-width: 1094px) {
          top: 0;
        }
      }
      .second-card {
        top: -41px;
        @media screen and (max-width: 1094px) {
          top: 0;
        }
      }
      .third-card {
        top: -61px;
        @media screen and (max-width: 1094px) {
          top: 0;
        }
      }
      .forth-card {
        top: -31px;
        @media screen and (max-width: 1094px) {
          top: 0;
        }
      }
    }
  }

  .why-choose-use-outer {
    background-color: #f9f9f9;
    border-radius: 30px;
    padding: 30px;
    width: 80%;
    margin: auto;
    z-index: 3;
    .menu {
      display: flex !important;
      flex-direction: row;
      position: static;
      background: none;
      box-shadow: none;
      border: none;
    }

    .menu li {
      padding: 0 15px;
    }

    position: relative;
    margin-bottom: 120px;
    height: 700px;

    @media screen and (max-width: 1094px) {
      height: 550px;
      margin-bottom: 90px;
    }
    @media screen and (max-width: 480px) {
      margin-bottom: 50px;
    }
    .colorful-sm-p {
      text-align: center;
      margin-bottom: 15px;
    }
    .large-text {
      text-align: center;
      margin-bottom: 10px;
    }
    .normal-text {
      text-align: center;
      margin-bottom: 40px;
    }
    .why-choose-us-inner {
      display: flex;
      align-items: center;
      position: absolute;
      z-index: 4;
      gap: 32px;
      left: -70px;
      .div1 {
        background: linear-gradient(to right, #307ffc, #a1c6ff, #136dfb);
        border: 4px solid #ffffff4d;
        border-radius: 15px;
        padding: 20px;
        width: 388px;
        height: 374px;
        overflow: hidden;
        position: relative;
        @media screen and (max-width: 1440px) {
          width: 300px;
          height: 290px;
        }
        h1 {
          font-size: 48px;
          font-weight: 600;
          color: #ffffff;
          transform: translateY(0);
          z-index: 1;
        }
        h2 {
          font-size: 38px;
          font-weight: 300;
          color: #ffffff;
          transform: translateX(0);
          z-index: 1;
          line-height: 50px;
          position: relative;
          @media screen and (max-width: 1440px) {
            line-height: 40px;
          }
        }
        .small-circle {
          position: absolute;
          right: 0;
          top: 0;
          z-index: 0;
          transform: translateX(0);
        }
        .small-circle2 {
          position: absolute;
          left: 0;
          bottom: 100px;
          z-index: 0;
          transform: translateX(0);
        }
        .big-circle {
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 0;
          transform: translateX(0);
        }
        .z-img {
          position: absolute;
          top: 0;
          right: 0;
        }
        .list-div {
          background-color: #d7d7d733;
          bottom: 10px;
          left: 10px;
          right: 10px;
          padding: 10px;
          border-radius: 15px;
          position: absolute;
          li {
            font-size: 14px;
            font-weight: 500;
            color: #ffffff;
            margin-bottom: 5px;
            margin-left: 20px;
          }
        }

        &:hover {
          background: linear-gradient(
            to bottom right,
            #0096ff 12.78%,
            #bb64ff 37.63%,
            #f2416b 62.12%,
            #eb7500 87.3%
          );
          transition: all 0.5s ease-in-out;
          border-radius: 15px;
          .small-circle {
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;
          }
          .small-circle2 {
            transform: translateX(-100%);
            transition: transform 0.3s ease-in-out;
          }
          .big-circle {
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;
          }
          h1 {
            // transform: translateY(-110%);
            // transition: transform .3s ease-in-out;
            opacity: 0.5;
          }
          h2 {
            // transform: translateX(-200%);
            // transition: transform .3s ease-in-out;
            font-weight: 600;
          }
        }
      }
    }
  }

  .our-expertise {
    width: 85%;
    margin: auto;
    z-index: 3;
    position: relative;
    margin-bottom: 120px;
    @media screen and (max-width: 1810px) {
      width: 90%;
      margin-bottom: 100px;
    }
    @media screen and (max-width: 1712px) {
      width: 95%;
    }
    @media screen and (max-width: 1250px) {
      width: 85%;
      margin-bottom: 80px;
    }
    @media screen and (max-width: 820px) {
      width: 95%;
      margin-bottom: 50px;
    }
    .colorful-sm-p {
      text-align: center;
      margin-bottom: 15px;
    }
    .large-text {
      text-align: center;
      width: 50%;
      margin: auto;
      margin-bottom: 35px;
    }
    .outer-div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
      width: 100%;
      @media screen and (max-width: 750px) {
        justify-content: center;
      }
      .divs {
        border-radius: 20px;
        border: 4px solid #ffffff4d;
        padding: 15px;
        display: flex;
        background-color: #0096ff;
        flex-direction: column;
        justify-content: space-between;
        height: 196px;
        position: relative;
        overflow: hidden;
        .overley {
          width: 100%;
          height: 100%;
          position: absolute;
          transform: translateX(150%);
          right: 0;
          top: 0;
          background-color: white;
          box-shadow: 10px 10px 10px 20px white;
          border-radius: 15px;
        }
        p {
          font-size: 14px;
          font-weight: 500;
          color: #ffffff;
        }
        .z-img {
          position: absolute;
          left: 0;
          top: 10px;
          height: 100%;
        }
        .lower-div {
          display: flex;
          justify-content: space-between;
          align-items: end;
          height: 105px;
          h3 {
            font-size: 24px;
            font-weight: 600;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            &::after {
              content: "";
              width: 67px;
              height: 5px;
              border-radius: 30px;
              background-color: #ffffff;
            }
          }
          .img-div {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 23px;
            border-radius: 17px;
            height: 59px;
            width: 59px;
            transform: scale(1, 1);
            .img1 {
              display: block;
            }
            .img2 {
              display: none;
            }
          }
        }

        &:hover {
          border: 4px solid #ffffff4d;
          background: linear-gradient(
            to bottom right,
            #ffffff,
            rgba(192, 190, 221, 0.5)
          );
          p {
            color: #707070;
          }
          .overley {
            transform: translateX(-108%);
            transition: transform 0.5s ease-in-out;
          }
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 20px;
            border: 1px solid transparent;
            background: linear-gradient(
              109.92deg,
              #0096ff 12.78%,
              #bb64ff 37.63%,
              #f2416b 62.12%,
              #eb7500 87.3%
            );
            -webkit-mask: linear-gradient(#fff 0 0) content-box,
              linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out;
            mask-composite: exclude;
            pointer-events: none;
            z-index: 0;
          }
          .lower-div {
            h3 {
              color: #232323;
              &::after {
                background: linear-gradient(
                  109.92deg,
                  #0096ff 12.78%,
                  #bb64ff 37.63%,
                  #f2416b 62.12%,
                  #eb7500 87.3%
                );
              }
            }
            .img-div {
              background-color: #ffffff4d;
              border: 1px solid #ffffff;
              .img1 {
                display: none;
              }
              .img2 {
                display: block;
                transform: scale(1.1, 1.1);
                transition: transform 0.5s ease-in-out;
              }
            }
          }
        }
      }

      .div1 {
        width: 38%;
        background-color: #ff6f00;
        border: 4px solid #ff9a4c;

        @media screen and (max-width: 1712px) {
          width: 37%;
        }
        @media screen and (max-width: 1250px) {
          width: 45%;
        }
        @media screen and (max-width: 1130px) {
          width: 43%;
        }
        @media screen and (max-width: 750px) {
          width: 90%;
        }
        .lower-div {
          .img-div {
            background-color: #ff9a4c;
          }
        }
      }
      .div2 {
        width: 26%;
        background-color: #47c5fb;
        border: 4px solid #7ed6fc;
        @media screen and (max-width: 1712px) {
          width: 25%;
        }
        @media screen and (max-width: 1250px) {
          width: 45%;
        }
        @media screen and (max-width: 1130px) {
          width: 43%;
        }
        @media screen and (max-width: 750px) {
          width: 90%;
        }
        .lower-div {
          .img-div {
            background-color: #7ed6fc;
          }
        }
      }
      .div3 {
        width: 26%;
        background-color: #ff2d20;
        border: 4px solid #ff6c62;
        @media screen and (max-width: 1712px) {
          width: 25%;
        }
        @media screen and (max-width: 1250px) {
          width: 45%;
        }
        @media screen and (max-width: 1130px) {
          width: 43%;
        }
        @media screen and (max-width: 750px) {
          width: 90%;
        }
        .lower-div {
          .img-div {
            background-color: #ff6c62;
          }
        }
      }
      .div4 {
        width: 21.5%;
        background-color: #327ebd;
        border: 4px solid #6fa4d1;
        @media screen and (max-width: 1712px) {
          width: 20.5%;
        }
        @media screen and (max-width: 1250px) {
          width: 45%;
        }
        @media screen and (max-width: 1130px) {
          width: 43%;
        }
        @media screen and (max-width: 750px) {
          width: 90%;
        }
        .lower-div {
          .img-div {
            background-color: #6fa4d1;
          }
        }
      }
      .div5 {
        width: 21.5%;
        background: linear-gradient(#dd0031, #c3002f);
        border: 4px solid #da4c6d;
        @media screen and (max-width: 1712px) {
          width: 20.5%;
        }
        @media screen and (max-width: 1250px) {
          width: 45%;
        }
        @media screen and (max-width: 1130px) {
          width: 43%;
        }
        @media screen and (max-width: 750px) {
          width: 90%;
        }
        .lower-div {
          .img-div {
            background-color: #da4c6d;
          }
        }
      }
      .div6 {
        width: 21.5%;
        background-color: #3174b9;
        border: 4px solid #6e9dce;
        @media screen and (max-width: 1712px) {
          width: 20.5%;
        }
        @media screen and (max-width: 1250px) {
          width: 45%;
        }
        @media screen and (max-width: 1130px) {
          width: 43%;
        }
        @media screen and (max-width: 750px) {
          width: 90%;
        }
        .lower-div {
          .img-div {
            background-color: #6e9dce;
          }
        }
      }
      .div7 {
        width: 21.5%;
        background-color: #00d8ff;
        border: 4px solid #4ce4ff;
        @media screen and (max-width: 1712px) {
          width: 20.5%;
        }
        @media screen and (max-width: 1250px) {
          width: 45%;
        }
        @media screen and (max-width: 1130px) {
          width: 43%;
        }
        @media screen and (max-width: 750px) {
          width: 90%;
        }
        .lower-div {
          .img-div {
            background-color: #4ce4ff;
          }
        }
      }
      .div8 {
        width: 29%;
        background-color: #74b857;
        border: 4px solid #9dcd89;
        @media screen and (max-width: 1712px) {
          width: 28%;
        }
        @media screen and (max-width: 1250px) {
          width: 45%;
        }
        @media screen and (max-width: 1130px) {
          width: 43%;
        }
        @media screen and (max-width: 750px) {
          width: 90%;
        }
        .lower-div {
          .img-div {
            background-color: #9dcd89;
          }
        }
      }
      .div9 {
        width: 30%;
        background-color: #ee4c2c;
        border: 4px solid #f3816b;
        @media screen and (max-width: 1712px) {
          width: 29%;
        }
        @media screen and (max-width: 1250px) {
          width: 45%;
        }
        @media screen and (max-width: 1130px) {
          width: 43%;
        }
        @media screen and (max-width: 750px) {
          width: 90%;
        }
        .lower-div {
          .img-div {
            background-color: #f3816b;
          }
        }
      }
      .div10 {
        width: 30%;
        background-color: #0d2c40;
        border: 4px solid #556b79;
        @media screen and (max-width: 1712px) {
          width: 29%;
        }
        @media screen and (max-width: 1250px) {
          width: 45%;
        }
        @media screen and (max-width: 1130px) {
          width: 43%;
        }
        @media screen and (max-width: 750px) {
          width: 90%;
        }
        .lower-div {
          .img-div {
            background-color: #556b79;
          }
        }
      }
    }
  }

  .our-community {
    width: 100%;
    margin: auto;
    z-index: 3;
    position: relative;
    margin-bottom: 120px;

    @media screen and (max-width: 1094px) {
      margin-bottom: 80px;
    }

    @media screen and (max-width: 480px) {
      margin-bottom: 50px;
    }
    .colorful-sm-p {
      text-align: center;
      margin-bottom: 15px;
    }
    .large-text {
      text-align: center;
      width: 60%;
      margin: auto;
      margin-bottom: 45px;
    }
    .community-cards {
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
      position: relative;
      flex-direction: column;
      gap: 30px;
      .owl-stage-outer {
        width: 100% !important;
        .owl-stage {
          display: flex;
          gap: 40px !important;
          .owl-item {
            width: 390px !important;
            @media screen and (max-width: 1094px) {
              width: 300px !important;
            }
          }
        }
      }
      .owl-nav {
        display: none;
      }
      .owl-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .owl-dot {
          height: 10px;
          width: 10px;
          border: transparent;
          border-radius: 50%;
        }
        .owl-dot.active {
          background-color: #136dfb;
          width: 30px;
          border-radius: 5px;
        }
      }
      .item {
        display: flex;
        flex-direction: column;
        align-items: start;
        background-color: #f3f4f6;
        border-radius: 20px;
        padding: 30px 20px;
        position: relative;
        width: 390px;
        z-index: 3;
        @media screen and (max-width: 1094px) {
          width: 300px;
          height: 223px;
        }
        .img {
          width: 36px;
          height: 32px;
          margin-bottom: 40px;
        }
        .review-text {
          font-size: 18px;
          font-weight: 500;
          color: #707070;
          margin-bottom: 90px;
          z-index: 1;
          @media screen and (max-width: 1094px) {
            font-size: 14px;
          }
          @media screen and (max-width: 480px) {
            font-size: 12px;
          }
        }
        .testimonial {
          padding: 20px;
          border-top-right-radius: 20px;
          background-color: #ffffff;
          display: flex;
          gap: 15px;
          position: absolute;
          left: 0;
          bottom: 0;
          .details {
            gap: 5px;
            display: flex;
            flex-direction: column;
            .name {
              font-size: 18px;
              font-weight: 600;
              color: #202323;
              @media screen and (max-width: 1094px) {
                font-size: 14px;
              }
              @media screen and (max-width: 480px) {
                font-size: 12px;
              }
            }
            .rol {
              font-size: 18px;
              font-weight: 500;
              color: #707070;
              @media screen and (max-width: 1094px) {
                font-size: 14px;
              }
              @media screen and (max-width: 480px) {
                font-size: 12px;
              }
            }
          }
        }
        .cut1 {
          position: absolute;
          left: -23px;
          bottom: 100px;
          @media screen and (max-width: 1094px) {
            bottom: 95px;
          }
        }
        .cut2 {
          position: absolute;
          right: -52px;
          bottom: -21px;
        }
      }
    }
  }

  .seperator3 {
    width: 0;
    height: 0;
    border-bottom: 114px solid #f9f9f9;
    border-left: 100vw solid transparent;
  }
  .footer {
    padding: 150px;
    background-color: #f9f9f9;
    padding-bottom: 0;
    @media screen and (max-width: 1511px) {
      padding: 70px;
      padding-bottom: 0;
    }
    @media screen and (max-width: 520px) {
      padding: 30px;
    }
    .locate {
      padding-bottom: 55px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      .divs {
        display: flex;
        align-items: end;
        flex-wrap: wrap;
        width: 60%;
        justify-content: space-between;
        @media screen and (max-width: 1160px) {
          width: 100%;
          gap: 50px;
        }
        .div1 {
          @media screen and (max-width: 1160px) {
            width: 23%;
          }
          @media screen and (max-width: 750px) {
            width: 28%;
          }
          @media screen and (max-width: 480px) {
            width: 100%;
          }
          .flag {
            display: flex;
            gap: 5px;
            margin-bottom: 10px;
            align-items: center;
            p {
              font-size: 14px;
              font-weight: 600;
              color: #707070;
              @media screen and (max-width: 1094px) {
                font-size: 12px;
              }
            }
          }

          h3 {
            margin-bottom: 40px;
            @media screen and (max-width: 350px) {
              margin-bottom: 10px;
            }
          }
          p {
            font-size: 14px;
            font-weight: 600;
            color: #707070;
            @media screen and (max-width: 1094px) {
              font-size: 12px;
            }
          }
        }
      }

      .last {
        width: 27%;
        @media screen and (max-width: 1160px) {
          width: 100%;
        }
        .input-div {
          border: 1px solid #999a9c;
          border-radius: 30px;
          margin-bottom: 15px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 2px;
          .input {
            display: flex;
            align-items: center;
            img {
              margin: 5px 10px;
            }
            p {
              font-size: 14px;
              font-weight: 600;
              color: #707070;
              @media screen and (max-width: 1094px) {
                font-size: 12px;
              }
            }
          }

          button {
            text-transform: capitalize;
          }
        }
        p {
          font-size: 14px;
          font-weight: 600;
          color: #707070;
          @media screen and (max-width: 1094px) {
            font-size: 12px;
          }
        }
        h3 {
          text-align: end;
          margin-bottom: 40px;
          margin-top: 20px;

          @media screen and (max-width: 1160px) {
            margin-top: 30px;
            margin-bottom: 20px;
          }
          @media screen and (max-width: 350px) {
            text-align: start;
            margin-bottom: 10px;
          }
        }
      }
    }
    .foot {
      padding: 40px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #999a9c;

      @media screen and (max-width: 780px) {
        padding: 20px 0;
        flex-direction: column;
        order: 2;
        gap: 20px;
      }
      p {
        font-size: 14px;
        font-weight: 500;
        color: #202323;
        @media screen and (max-width: 1094px) {
          font-size: 12px;
        }
      }
      .social-links {
        display: flex;
        gap: 15px;

        @media screen and (max-width: 780px) {
          order: 1;
        }
        .link {
          padding: 12px 15px;
          border: 1px solid #999a9c;
          border-radius: 21px;
          display: flex;
          align-items: center;
          gap: 5px;
          transform: translateX(0);
          cursor: pointer;
          @media screen and (max-width: 430px) {
            padding: 5px;
          }
          p {
            font-size: 14px;
            font-weight: 500;
            color: #262626;
            @media screen and (max-width: 1094px) {
              font-size: 12px;
            }
            @media screen and (max-width: 430px) {
              font-size: 10px;
            }
          }
        }

        border-color: #0096ff;
        .face {
          &:hover {
            fill: blue;
          }
        }
        .insta {
          &:hover {
            fill: red;
          }
        }
        .linked {
          &:hover {
            fill: blue;
          }
        }
      }
    }
  }
}
